* {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.app-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    padding: 0 25px;
}

textarea {
	width: 100%;
}

.btn, .uk-button {
    text-transform: lowercase;
}

header a {
    text-transform: uppercase;
}

@media only screen and (max-width: 460px) {

    .uk-navbar-nav > li > a {
        font-size: 0.8rem;
    }

}

/* ------------------------------------------------------------------------- */
/* UIKit Overrides and Extensions */

.uk-button-group > form:first-child .uk-button {
    border-right-color: rgba(0,0,0,.1);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.uk-button-group > form:last-child .uk-button {
    border-left-color: rgba(0,0,0,.1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.uk-button-group > form:nth-child(n+2) .uk-button {
    margin-left: -1px;
}

/*---------------------------------------------------------------------------*/
/* FORM HELPERS */

.invisible {
	visibility: hidden;
}

.required-annotation {
	/*color: #668;*/
	font-size: 0.5em;
	position: relative;
	top: -1em;
	left: 0.5em;
}

 /*copied from uk-form-danger */
input[aria-invalid='true'] {
    border-color: #dc8d99!important;
    background: #fff7f8!important;
    color: #d85030!important;
}

.validation-error {
	min-height: 1.5em; /* prevent collapse causing sliding content */
	margin: 0;
	margin-top: 0.25em;
	font-style: italic;
}
