<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yet Another Blog</title>
    <script src="https://use.fontawesome.com/59942f4bda.js"></script>
</head>
<body>

<header>
    <h1><a href="/">Yet Another Blog</a></h1>

    {% if username is not none %}
    <span>{{ username }}</span>
    <a href="/logout">logout</a>
    {% else %}
        {% if not suppressLogin %}
        <a href="/login">login</a>
        {% endif %}
        {% if not suppressSignup %}
        <a href="/signup">signup</a>
        {% endif %}
    {% endif %}
</header>

{% block content %}
{% endblock %}

</body>
</html>
