{% extends "base.html" %}

{% block content %}

<a href="/">all posts</a><br>
<form method="post">

    <div>
        <label for="subject">Subject</label>
        <input id="subject" name="subject" value="{{entry.subject}}"/>
        <div>{{subject_error}}</div>
    </div>

    <div>
        <label for="content">Content</label>
        <textarea id="content" name="content">{{entry.content}}</textarea>
        <div>{{content_error}}</div>
    </div>

    <a href="/posts/{{entry.key.urlsafe()}}">cancel</a>

    <div>
        <input type="submit">
    </div>

</form>

{% endblock %}
