<li class="comment-container"
    data-id="{{comment.key.urlsafe()}}">

    <article class="uk-comment">

        <!-- HEADER -->
        <header class="uk-comment-header uk-clearfix">

            <!-- META-DATA-->
            <div class="uk-float-left uk-comment-meta">
                Comment by {{ comment.username }}
                on {{ comment.modified | dtf('%c') }}
            </div>

            {% if authenticated and (comment.can.edit or comment.can.delete) %}
            <div class="uk-float-right {{ 'uk-button-group' if comment.can.edit and comment.can.delete else '' }}">

                <!-- EDIT COMMENT -->
                {% if comment.can.edit %}
                <a class="btn uk-button" title="edit comment" uk-tooltip
                   href="/comments/{{comment.key.urlsafe()}}/edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="sr-only">edit comment</span>
                </a>
                {% endif %}

                <!-- DELETE COMMENT -->
                {% if comment.can.delete %}
                <form action="/comments/{{comment.key.urlsafe()}}/delete"
                      method="POST">
                    <input type="hidden" name="id"
                           value="{{comment.key.urlsafe()}}"/>
                    <button class="btn uk-button" type="submit"
                            title="delete comment" uk-tooltip>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <span class="sr-only">delete comment</span>
                    </button>
                </form>
                {% endif %}
            </div>
            {% endif %}

        </header>

        <!-- CONTENT -->
        <div class="uk-comment-body">
            {{ comment.content_as_html() | safe() }}
        </div>

    </article>

</li>
