<div class="comments-container uk-margin">

    {% if can.comment %}
    <!-- NEW COMMENT FORM SECTION -->
    {% include 'new_comment.html' %}
    {% endif %}

    {% if not authenticated %}
    <!-- COMMENT SQUEEZE -->
    <div class="squeeze comment-squeeze uk-alert">
		<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
        Join the discussion!
        <a href="/login">Sign in</a> or <a href="/signup">sign up</a> to comment
        on this post
    </div>
    {% endif %}

    <!-- COMMENTS LIST SECTION -->
    <ul class="uk-comment-list">
        {% for comment in comments %}
        {% include 'comment.html' %}
        {% endfor %}
    </ul>

</div>
