{% extends "base.html" %}
{% block content %}

<!-- TODO: provide live feedback on email validity -->
<!-- TODO: provide live feedback on password validity -->
<!-- TODO: provide live feedback on password matches -->
<!-- TODO: enable showing password? -->

<main id="main">

    <h1>Sign Up</h1>
    <span>Sign up to create your account</span>

    <form id="sign-up-form"
          class="uk-form uk-form-stacked" data-uk-margin
          method="POST">

        <!-- USERNAME -->
        <fieldset class="uk-form-row">

            <label class="uk-form-label" for="username_input">Username</label>

            <input class="{{ 'uk-form-danger' if username_error else '' }}"
                   data-autofocus required aria-required="true"
                   minlength="2" maxlength="48"
                   type="text" id="username_input" name="username_input"
                   value="{{username_input or ''}}" placeholder="username"/>

            <div id="username-error" data-error-for="username_input"
                 class="validation-error uk-text-danger invisible"></div>

            <div class="uk-text-danger">
                {% if username_error %}
                {{ username_error }}
                {% endif %}
            </div>

        </fieldset>

        <!-- PASSWORD -->
        <fieldset class="uk-form-row">

            <label class="uk-form-label" for="password">Password</label>

            <input class="uk-form-password {{ 'uk-form-danger' if password_error else '' }}"
                   required aria-required="true"
                   minlength="6" maxlength="32"
                   type="password" id="password" name="password"
                   value="" placeholder="password"/>

            <div id="password-error" data-error-for="password"
                 class="validation-error uk-text-danger invisible"></div>

            <div class="uk-text-danger">
                {% if password_error %}
                {{ password_error }}
                {% endif %}
            </div>

        </fieldset>

        <!-- PASSWORD AGAIN -->
        <fieldset class="uk-form-row">

            <label class="uk-form-label" for="verify">Re-enter Password</label>

            <input class="uk-form-password {{ 'uk-form-danger' if verify_error else '' }}"
                   required aria-required="true"
                   minlength="6" maxlength="32"
                   type="password" id="verify" name="verify"
                   value="" placeholder="enter your password again"/>

            <div id="verify-error" data-error-for="verify"
                 class="validation-error uk-text-danger invisible"></div>

            <div class="uk-text-danger">
                {% if verify_error %}
                {{ verify_error }}
                {% endif %}
            </div>

        </fieldset>

        <!-- EMAIL -->
        <fieldset class="uk-form-row">

            <label class="uk-form-label" for="email">Email</label>

            <input class="uk-form-password {{ 'uk-form-danger' if email_error else '' }}"
                   required aria-required="true"
                   type="text" id="email" name="email" value="{{email or ''}}"
                   placeholder="email"/>

            <div id="email-error" data-error-for="email"
                 class="validation-error uk-text-danger invisible"></div>

            <div class="uk-text-danger">
                {% if email_error %}
                {{ email_error }}
                {% endif %}
            </div>

        </fieldset>

        <!-- PAGE ERROR -->
        <div class="uk-text-danger">
            {% if error %}
            {{ error }}
            {% endif %}
        </div>

        <!-- FORM ACTIONS -->
        <fieldset class="uk-form-row">

            <button class="uk-button uk-button-primary" type='submit'>
                Sign Up
            </button>

            <a class="uk-button uk-button-mini"
               href="/">cancel</a>

        </fieldset>

    </form>

</main>
{% endblock %}

{% block scripts %}
<script src="/js/app/signupformviewmodel.js"></script>
{% endblock %}
